<div class="header">
    <div class="left-section">
        <!-- <div routerLink="/"  class="tiffin-logo">
            Tiffin
        </div> -->
        <div (click)="goToHomePage()" class="tiffin-logo">
            Tiffin
        </div>
    </div>
    <div class="middle-section">
        <input class="search-bar" type="text" placeholder="Search">
        <button class="search-button">
            <img 
            class="search-icon"
            src="assets/header-icons/search.svg">
        </button>
    </div>
    <div class="right-section">
        <div *ngIf="!isLoggedIn">
            <button routerLink="/login" routerLinkActive="login-active" class="login-button">
                Login
            </button>
            <button routerLink="/signup" routerLinkActive="signup-active" class="signup-button">
                Sign Up
            </button>
        </div>
        <div *ngIf="isLoggedIn">
            <span class="greet">Hi {{name}}!</span>
            <button class="logout-button" (click)="logout()">
                Log Out
            </button>
        </div>
    </div>
</div>