ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.top-bar {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.left-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}

.right-section {
    flex: 1;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.cart-button {
    height: 30px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    font-weight: bold;
}

.cart-button:hover{
    cursor: pointer;
}

ul li a{
    height: 20rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72729;
}

.edit-button {
    margin-left: 5px;
}

.delete-button {
    margin-left: 210px;
}

ul li a img{
    // height: 250px;
    width: 20rem;
    height: 16rem;
}

li a:hover{
    opacity: 0.8;
    cursor: pointer;
}

.tags{
    color: rgb(149, 149, 149);
}

.content{
    color: black;
}

.additem-button {
    height: 30px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    font-weight: bold;
    margin-left: 120px;
    margin-top: 15px;
}

.additem-button:hover{
    cursor: pointer;
}