.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 200px 100px;
    height: 800px;
    background-color: rgb(168, 187, 215);
    font-family: Roboto;
}

table{
    width: 400px;
    margin-bottom: 50px;
}

th{
    text-align: left;
}

th, td{
    padding: 10px;
}

.heading {
    width: 450px;
    height: 60px;
}

.form-group {
    width: 300px;
    height: 35px;
    margin-bottom: 35px;
}

.form-control::placeholder {
    font-family: Roboto;
    font-size: 16px;
}

.calender {
    margin-top: 20px;
}

table, th, td {
    border-collapse: collapse;
}

p {
    margin: 0;
}

.delivery-date {
    margin-bottom: 50px;
}

.delivery-choice {
    margin-bottom: 50px;
    margin-left: 0px;
}

.signin-button {
    height: 30px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 50px;
    margin-left: 50px;
}

.signin-button:hover {
    cursor: pointer;
}

.signin-button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.click-here {
    width: 300px;
}

.signup-login {
    text-decoration: underline;
}

.signup-login:hover {
    cursor: pointer;
}

input.ng-invalid.ng-touched {
    border: red 2px solid;
}

.error-message {
    color: red;
}